<div id="wrapper">

  <ngx-loading [show]="loading" [config]></ngx-loading>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Site d'exploitation des cv Zenika</a>
    </div>
    <!-- /.navbar-header -->


    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Activités extra professionnelle<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="part-time/hobby" routerLinkActive="active">Loisirs</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->

          <li>
            <a routerLink="global-search" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Recherche globale</a>
          </li>
          <li>
            <a routerLink="global-search-unstructured" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Recherche globale non structurée</a>
          </li>
          <li>
            <a routerLink="user-search" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Rechercher un zénikien</a>
          </li>
          <li>
            <a routerLink="search-multiple-crit" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Rechercher multi critéres</a>
          </li>


          <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> Groupement de données<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="aggregate-annee-exp" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Par annéee d'éxpérience</a>
              </li>
              <li>
                <a routerLink="aggregate-job-age" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Par métier</a>
              </li>
              <li>
                <a routerLink="aggregate-skill-age" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Par compétence</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a href="#"><i class="fa fa-wrench fa-ship"></i> Compétences techniques<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="cloud-word" routerLinkActive="active"><i class="fa fa-cloud"></i>Nuage de mots</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a routerLink="admin-import" routerLinkActive="active"><i class="fa fa-table fa-fw"></i>Import des consultants</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>


        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <router-outlet></router-outlet>
   </div>
 </div>




