
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>  Recherche via prénom ET nom

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <input class="form-control" type="text" (input)="onFullnameChange($event.target.value)" placeholder="prenom nom"/>
      </div>
      <div class="panel panel-info">

        <!--<div class="single-result-bloc">-->

        <div class="panel-heading">
          <div class="resp-structured">
            Résultat
          </div>
        </div>
        <div class="panel-body">

          <p> <b> nombre de resultat :{{resultFullname?.hits.total}} </b> </p>
          <table>
            <thead>
            <tr>
              <th>nom</th>
              <th>mail</th>
              <th>Date de dernière mise à jour</th>
              <th>cv</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of resultFullname?.hits.hits">
              <td>{{user._source.fullname}}</td>
              <td>{{user._source.email}}</td>
              <td>{{user._source.lastUpdate | date: 'dd/MM/yyyy' }}</td>
              <td><a target="_blank"  href="https://resume.zenika.com/#/app/{{user._source.firstname | latinise | slugify}}-{{user._source.lastname | latinise | slugify}}">Voir le cv</a></td>
            </tr>
            </tbody>
          </table>
          <!--</div>-->
        </div>

        <div class="panel panel-info">

          <!--<div class="single-result-bloc">-->

          <div class="panel-heading">
            <div class="resp-original" (click)="expanded == false ?expanded = true:expanded = false">
              Réponse technique +
            </div>
          </div>
          <div *ngIf="expanded == true" class="panel-body">
            <pre>
          {{results | json }}
            </pre>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.panel-body -->
</div>
