
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>
        Recherche via des critéres

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tranche - Années expérience</label>

          <div class="col-sm-4">
            <ng2slider *ngIf="minRangeNbAnneeExp"
                       [min]="minRangeNbAnneeExp"
                       [max]="maxRangeNbAnneeExp"
                       [startValue]="minRangeNbAnneeExp"
                       [endValue]="maxRangeNbAnneeExp"
                       stepValue="1"
                       (onRangeChanged)="nbAnneeExpRangeChange($event)">
            </ng2slider>
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="complexCriteriaFieldNbAnneeExpOp">
              <option value="">--Style d'operation--</option>
              <option *ngFor="let m of criteriaOperations" [value]="m.key">{{m.text}}</option>
            </select>
          </div>
        </div>



           <div class="form-group row">

             <label class="col-sm-2 col-form-label">Compétences techniques (java,css,..)</label>
             <div class="col-sm-4">
               <input class="form-control" type="text"  (input)="onComplexCriteriaGlobalSkillsChange($event.target.value)"  size="30"/>
             </div>
             <div class="col-sm-2">
               <select class="form-control" [(ngModel)]="complexCriteriaGlobalSkillsOp">
                <option value="">--Style d'operation--</option>
                <option *ngFor="let m of criteriaOperationsWithExactSearch" [value]="m.key">{{m.text}}</option>
               </select>
             </div>

          </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Mission - description</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" (input)="onComplexCriteriaMissionDescChange($event.target.value)"  size="40"/>
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="complexCriteriaDescOp">
              <option value="">--Style d'operation--</option>
              <option *ngFor="let m of criteriaOperations" [value]="m.key">{{m.text}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nom du client : </label>

          <div class="col-sm-4">
            <input class="form-control" type="text" [(ngModel)]="whoWorkCustomerVal"/>
          </div>
          <div class="col-sm-2">
            <select  class="form-control"  [(ngModel)]="complexCriteriaCustomerName">
              <option value="">--Style d'operation--</option>
              <option *ngFor="let m of criteriaOperations" [value]="m.key">{{m.text}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Date de travail : </label>
          <div class="col-sm-4">
            <my-date-picker class="datePick" [options]="myDatePickerOptions"
                            [(ngModel)]="dateChoiceMission"></my-date-picker>
          </div>
          <div class="col-sm-2">

            <select class="form-control"  [(ngModel)]="complexCriteriaWorkingDate">
              <option value="">--Style d'operation--</option>
              <option *ngFor="let m of criteriaOperations" [value]="m.key">{{m.text}}</option>
            </select>
          </div>
        </div>


        <br>

        <button class="btn btn-primary" (click)="searchCriterias()">Rechercher</button>

      </div>
      <div class="panel panel-info">

        <!--<div class="single-result-bloc">-->

        <div class="panel-heading">
          <div class="resp-structured">
            Résultat
          </div>
        </div>
        <div class="panel-body">

          <p><b> nombre de resultat :{{resultSearchCriterias?.hits.total}}</b> </p>

          <table>
            <thead>
            <tr>
              <th>nom</th>
              <th>Date de dernière mise à jour</th>
              <th>cv</th>
              <th>mission description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of resultSearchCriterias?.hits.hits | paginate: { itemsPerPage: totalNumberByPage, currentPage: currentNumberPage , totalItems: resultSearchCriterias?.hits.total}">
              <td>{{user._source.fullname}}</td>
              <td>{{user._source.lastUpdate | date: 'dd/MM/yyyy' }}</td>
              <td><a target="_blank" href="https://resume.zenika.com/#/app/{{user._source.fullname | latinise | slugify}}">Voir le cv</a></td>
              <td [innerHTML]="user.highlight && user.highlight['missions.description']">
              </td>

            </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


          <br>
          <br>

          <div class="single-result-bloc">

            <div class="panel panel-info">


            <div class="panel-heading">
              <div class="resp-original" (click)="expanded == false ?expanded = true:expanded = false">
                Réponse technique +
              </div>
            </div>
            <div *ngIf="expanded == true" class="panel-body">

              <div class="resp-original" style="width: 50%;">
                <h3>Request</h3>
                <div>
              <pre>
                    {{requestSearchCriterias | json }}
              </pre>
                </div>
              </div>

              <div class="resp-original" style="width: 50%;">
                <h3>Response original</h3>
                <div>
              <pre>
                    {{resultSearchCriterias | json }}
              </pre>
                </div>
              </div>
            </div>


            </div>



         </div>

      </div>
    </div>

  </div>
  <!-- /.panel-body -->
</div>




