.single-result-bloc{
  display: flex;
}

.resp-structured,.resp-original{
  flex: 1;

}

.complexCriteria{
  display: flex;
}

em{
  font-weight: bold;
  color: blue;
}

.datePick .mydp {
  width: 100% !important;
}

pre {
  overflow: auto;
}
